<app-navbar></app-navbar>


<h1 style="text-align: center;">Contact Us</h1>
<div class="container">
    <div class="row">
    <div class=" col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

        <div class="row g-4">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

<label for="" class="form-label">Name</label>
<input type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">Email</label>
                <input type="email" name="" id="" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">Message</label>
                <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <button class="btn btn-success">Submit</button>
            </div>
        </div>

</div>
    </div>
</div>

<h4 style="text-align: center;">Address:Main Str, no 23, New York
Phone:+546 990221 123
Mail:model@contact.com</h4>  
<h5 style="text-align: center;">Copyright ©2022 All rights reserved</h5>

